<div class="mt-4">
    <h3>Sửa thông tin User</h3>
    <form class="mt-4" method="POST" action="/users/{{user._id}}?_method=PUT">
        <div class="form-group mt-4">
            <label for="name">Họ và tên</label>
            <input type="text" class="form-control" id="name" name="name" >
        </div>
        <div class="form-group">
            <label for="Job">Nghề</label>
            <input type="text" class="form-control" id="Job" name="Job" >
        </div>
        <div class="form-group">
            <label for="religion">Tôn giáo</label>
            <input type="text" class="form-control" id="religion" name="religion" >
        </div>
        <div class="form-group">
            <label for="Ethnic">Dân tộc</label>
            <input type="text" class="form-control" id="Ethnic" name="Ethnic" >
        </div>
        <div class="form-group">
            <label for="EduLevel">Trình độ</label>
            <input type="text" class="form-control" id="EduLevel" name="EduLevel" >
        </div>
        <div class="form-group">
            <label for="Address">Địa chỉ</label>
            <input type="text" class="form-control" id="Address" name="Address" >
        </div>
        <div class="form-group">
            <label for="CMND">Số chứng minh nhân dân</label>
            <input type="text" class="form-control" id="CMND" name="CMND" >
        </div>
        <div>
            <label for="DofB">Ngày sinh</label>
            <input type="date" class="form-control" id="DofB" name="DofB">
        </div>
        <div class="form-group mt-3">
            <label for="Sex">Giới tính</label>
            <select class="form-control" id="Sex" name="Sex">
                <option value="" selected disabled hidden>Chọn giới tính</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Lưu thông tin</button>
    </form>
</div>